.saveLoadSectionContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-top: 1px dashed #276AA5;
}

.saveAndLoad {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 4px;
  color: #276AA5;
}

.text {
  border-bottom: 1px dashed #276AA5;
}