.headerLoginSection {
  display: flex;
  align-items: center;
  padding: 5px;
}

.btnContainer {
  margin-inline-start: 20px;
  display: flex;
  align-items: center;
}

.menuBurgerImg {
  cursor: pointer;
  width: 30px;
}

.mobileMenu {
  width: 200px;
  height: calc(100vh - 51px);
  background-color: red;
  position: absolute;
  right: -200px;
  top: 51px;
  transition: right 5.3s ease;
}

.open {
  animation-name: change-color;
  animation-duration: 0.8s;
  animation-fill-mode: forwards ;
}

@keyframes change-color {
  100% {
    right: 0;
  }
}
