:root {
  --bt-header-height: 3.25rem;
  --bt-primary-color: hsl(208 61% 32% / 1);
  --bt-registerBtn-hover-color: hsl(82,56%,50%);
  --bt-loginBtn-hover-color: hsl(208,63%,51%);
  --bt--body--color: hsl(210,57%,26%);
  --bt-registrationBtn-color: hsl(82, 57%, 43%);
  --bt-sport-hover-backgroundColor: hsl(208,31%,81%);
  --bt-sport-title-color: #1D4268;
  --bt-sport-count-color: #288181;
  --bt-league-backgroundColor: hsl(209,31%,87%);
}