:root {
  --bt-header-height: 3.25rem;
  --bt-primary-color: hsl(208 61% 32% / 1);
  --bt-registerBtn-hover-color: hsl(82,56%,50%);
  --bt-loginBtn-hover-color: hsl(208,63%,51%);
  --bt--body--color: hsl(210,57%,26%)
}