.leftAsideFooter {
  width: 255px;
  height: 100%;
}

.minimizeLeftBar {
  width: 32px;
  overflow-x: hidden;
}

.greenMobileLiveDot {
  width: 6px;
  height: 6px;
  background-color: var(--bt-registrationBtn-color);
  border-radius: 50%;
}

.mobileLiveDot {
  width: 32px;
  height: 32px;
  background-color: var(--bt-primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}