.navigation {
  display: flex;
  margin-inline-start: 30px;
  flex-grow: 1;
}

.navigationList {
  display: flex;
}

.navigationListItem {
  display: flex;
  position: relative;
  font-size: 14px;
}

.navigationLink {
  display: flex;
  align-items: center;
  color: white;
  padding: 0 10px;
}

.arrowDownImg {
  margin: 0 0 0 5px;
}

nav ul li a {
  text-decoration: none;
  color: gray;
  transition: color 0.2s ease;
}

nav:hover ul li .navigationLink {
  color: #d9c6c6;
}

nav ul li:hover .navigationLink {
  color: white;
}

