.liveMatchContainer {
  display: flex;
  padding: 0 0 0 15px;
  background-color: white;
  border-bottom: 1px solid #E9EEF2;
}

.icons {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  border-right: 1px solid #E9EEF2;
}

.svgIcon {
  width: 17px;
  height: 17px;
  fill: #B1C4D4;
  &:last-child {
    margin-top: 5px;
  }
}

.star {
  width: 17px;
  height: 17px;
  fill: #7EAC2F;
}

.teams {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.match {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-inline-start: 10px;
}

.teamImgContainer {
  width: 16px;
  height: 16px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.team {
  display: flex;
}

.teamName {
  font-size: 14px;
  margin-inline-start: 10px;
}

.numbers {
  display: flex;
  padding: 10px 4px;
  flex-grow: 1;
}

.secondNumber {
  display: flex;
  flex-grow: 1;
}

.matchScores {
  display: flex;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  &:first-child {
    font-weight: bold;

  }
  &:not(:first-child) {
    margin-left: 10px;
    //padding: 0 4px;
    padding-left: 6px;
    border-left: 1px solid #E9EEF2;
  }
}
.leagueNameAndSportSvgLastNumbers {
  display: flex;
}

.liveMatchItem {
  display: flex;
  flex-grow: 1;
  height: 8px;
  padding: 5px 5px 5px 15px;
}

.itemNumberContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 73px;
  padding: 10px;
  background-color: white;
  cursor: pointer;
  transition: 0.2s;
  border-left: 1px solid #E9EEF2;
  &:hover {
    background-color: #4466A4;
    .itemNumber {
      color: white;
    }
  }
}


.liveMatchItemNumber {
  padding: 4px 9px;
  display: flex;
  align-items: center;
  border-left: 1px solid #EAEDF2;
  background-color: white;
}

.itemNumber {
  font-size: 12px;
  color: #1D82BF;
  text-decoration: underline;
}

.matchInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20px;
  margin-top: 2px;
}

.wrapperContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 5px 5px 0 0;
}

.teamsAndIconContainer {
  display: flex;
}

.matchInfoIcon {
  width: 12px;
  height: 12px;
  fill: #374868;
  stroke: #374868;
  cursor: pointer;
  &:not(:first-child) {
    margin-left: 5px;
  }
}

.setNumber {
  font-size: 11px;
  color: #1D4268;
}

.arrowDown {
  width: 9px;
  height: 9px;
}

.dropDown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  cursor: pointer;
  &:hover {
    background-color: #276AA5;
    .arrowDown {
      fill: white
    }
  }

}

.svgIcons {
  display: flex;
  align-items: center;
}