* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::after, &::before {
        box-sizing: border-box;
    }
}

.aside {
    position: sticky;
    top: 112px;
    z-index: 1;
    scroll-behavior: smooth;
    overflow-y: auto;
    max-height: calc(100vh - 112px);
    border: 10px solid black;
}