* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::after, &::before {
        box-sizing: border-box;
    }
}

body {
    font-family: Roboto, serif;
    overflow-x: hidden;
}

@font-face {
    font-family: Roboto;
    src: url(./assets/font/roboto.ttf);
}

.aside {
    position: sticky;
    top: 112px;
    z-index: 1;
    scroll-behavior: smooth;
    overflow-y: auto;
    max-height: calc(100vh - 112px);
    border: 10px solid black;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
}